<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="4.0.0.2" targetFramework="net48" />
  <package id="AWSSDK.DynamoDBv2" version="4.0.17.1" targetFramework="net48" />
  <package id="AWSSDK.S3" version="4.0.17.1" targetFramework="net48" />
  <package id="AWSSDK.SQS" version="4.0.2.11" targetFramework="net48" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="RestSharp" version="105.2.3" targetFramework="net48" />
  <package id="ServiceStack" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.Aws" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.Caching.Memcached" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.Client" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.Common" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.OrmLite" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.SqlServer" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.Redis" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.Server" version="10.0.4" targetFramework="net48" />
  <package id="ServiceStack.Text" version="10.0.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Linq.Async" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="Telerik.DataAccess.Core" version="2020.0.428.1" targetFramework="net48" />
  <package id="Telerik.DataAccess.Web35" version="2020.0.428.1" targetFramework="net48" />
  <package id="Telerik.Licensing" version="1.6.36" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Core" version="15.4.8626" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Translations" version="15.4.8626" targetFramework="net48" />
</packages>